<mat-form-field appearance="standard">
<mat-label>Tablo Filtre</mat-label>
<input matInput (keyup)="applyFilter($event)" placeholder="Arama" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="userId" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>KullanıcıID</th>
      <td mat-cell  *matCellDef="let row"> {{row.userId}} </td>
    </ng-container>


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Başlıklar</th>
      <td mat-cell  *matCellDef="let row"> {{row.title}}</td>
    </ng-container>

    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Açıklama</th>
      <td mat-cell  *matCellDef="let row"> {{row.body}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4"> Aradığınız şey hiçbir öğeyle eşleşmiyor "{{input.value}}" </td>
    </tr>


  </table>

  <mat-paginator [pageSizeOptions]="[5,10,25,100]" aria-labels="select page of users"></mat-paginator>

</div>
